.DB__container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.DB__logout-button {
  padding: 5px 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
}

.DB__logout-button:hover {
  background-color: #000000;
}

.DB__container nav {
  width: 100%;
  background-color: #eeeeee;
}

.DB__nav__container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

.DB__nav__container p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 3rem;
}

.DB__nav__container a {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #666666;
  text-decoration: none;
  font-weight: bold;
}

.DB__content {
  width: 900px;
  margin: 50px auto 0;
}

@media screen and (max-width: 970px) {
  .DB__nav__container {
    box-sizing: border-box;
    width: 100%;
  }

  .DB__content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media screen and (max-width: 450px) {
  .DB__nav__container .Hello__text {
    display: none;
  }
}
